.banner {
  display: flex;
  justify-content: start;
  padding: 150px;
  background-size: cover;
  @media (max-width: 800px) {
    padding: 64px;
  }
}

.contentTitle {
  box-sizing: border-box;
  max-width: 600px;
  color: white;
}

.description {
  font-size: 1.5em;

  @media (max-width: 800px) {
    font-size: 1.2em;
  }

  @media (max-width: 600px) {
    font-size: 1em;
  }
}

.description {
  font-size: 1.5em;
}

.content {
  padding-bottom: 64px;
}

.artworks {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 16px;
  padding: 0 32px;
}
