.banner {
    padding: 150px;
    color: white;
    background-size: cover;
    @media (max-width: 800px) {
      padding: 64px;
    }
}
.textContainer{
    width: 50%;
}
.title{
    font-size: 2.5em;
    font-weight: bold;
}
.description{
    font-size: 1.3em;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 32px;
    gap: 32px;
}
.column1, .column2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}
.tours{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
}
.label{
    font-size: 1.2em;
    font-weight: bold;
}

@media (max-width: 800px) {
    .banner {
      padding: 64px;
    }
    
    .textContainer {
      width: 100%;
      text-align: start;
    }
    
    .title {
      font-size: 2em;
    }
    
    .description {
      font-size: 1.1em;
    }
    
    .content {
      flex-direction: column;
    }
    
    .column1,
    .column2 {
      width: 100%;
      text-align: center;
    }
    
    .tours {
      gap: 10px;
    }
}
@media (max-width: 414px) {
    .banner {
      padding: 64px;
    }
    
    .textContainer {
      width: 100%;
      text-align: start;
    }
    
    .title {
      font-size: 1.8em;
    }
    
    .description {
      font-size: 1em;
    }
    
    .content {
      flex-direction: column;
    }
    
    .column1,
    .column2 {
      width: 100%;
      text-align: center;
    }
    
    .tours {
      gap: 10px;
    }
}