.banner {
  display: flex;
  padding: 150px;
  color: white;
  background-size: cover;

  @media (max-width: 800px) {
    padding: 64px;
  }

  .bannerContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 600px;
    font-size: var(--text-xl);
  }
}

.artworks,
.tours {
  display: flex;
  gap: 32px;
  box-sizing: border-box;
  width: max-content;
  max-width: 100%;
  margin: 0 auto;
  padding: 32px;
  overflow-x: auto;
  overflow-y: visible;

  & > * {
    flex-shrink: 0;
  }
}

.aboutUs {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  justify-content: center;
  padding: 64px;

  .group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    align-items: center;
    max-width: 1000px;

    &:nth-child(2n + 1) > :first-child {
      order: 1;
    }

    @media (max-width: 800px) {
      grid-template-columns: 1fr;

      &:nth-child(2n + 1) > :first-child {
        order: initial;
      }
    }
  }

  .content {
    font-size: var(--text-lg);

    h3 {
      font-size: 36px;
    }
  }

  .image {
    position: relative;
    top: -8px;
    left: -8px;

    img {
      width: 100%;
      object-fit: cover;
    }

    &::before {
      content: "";
      position: absolute;
      top: 16px;
      left: 16px;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-color: black;
    }
  }

}
