.calendarContainer{
    margin: 20px;
}

.react-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    width: 400px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.react-calendar__navigation button {    
    font-family: 'Quicksand', sans-serif;
    color: #6247AA;
    background: none;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
    border: none;
    margin-left: 5px;
    border-radius: 16px;
    font-weight: 600;
}

.react-calendar__navigation button:enabled:hover{
  background-color: #6247AA;
  color: #FFFFFF;
}

.react-calendar__navigation__label button:enabled:hover{
    background-color: #FFFFFF;
    color:#6247AA;
}



abbr[title] {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color: #6247AA;
    font-size: 18px;
    margin-top: 8px;
    padding-left: 15px;
    font-weight: 600;
}

.react-calendar__month-view__days{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.react-calendar__tile{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color:#6247AA;
    background-color: #FFFFFF;
    border: none;
    width: 55px;
    height: 55px;
    margin: 2px;
}

.highlight{    
    border-radius: 50%;
    border: 1px solid #6247AA;
}

.highlight:enabled:hover,
.highlight:enabled:focus {
  background: #6247AA;
  color: #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
}


.react-calendar__month-view__days__day--neighboringMonth {
    color: #6A7D7D;
    border:none;
}


.react-calendar__navigation__prev2-button, .react-calendar__navigation__next2-button{
    visibility: hidden;
}

@media screen and (max-width: 767px) {
    .react-calendar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;
        width: 250px;
    }

    .react-calendar__navigation button {  
        font-size: 12px;
    }

    abbr[title] {
        text-decoration: none;
        font-family: 'Quicksand', sans-serif;
        color: #6247AA;
        font-size: 12px;
        margin-top: 8px;
        padding-left: 5px;
        font-weight: 600;
    }

    .react-calendar__tile{
        font-family: 'Quicksand', sans-serif;
        font-size: 12px;
        text-align: center;
        color:#6247AA;
        background-color: #FFFFFF;
        border: none;
        width: 35px;
        height: 35px;
        margin: 2px;
    }

    .highlight{    
        border-radius: 50%;
        border: 1px solid #6247AA;
    }
}
