.grid {
  display: grid;
  gap: 16px;
  justify-content: center;

  &.large {
    grid-template-columns: repeat(auto-fit, 600px);
  }

  &.base {
    grid-template-columns: repeat(auto-fit, 480px);
  }

  &.small {
    grid-template-columns: repeat(auto-fit, 400px);
  }
}
