.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 32px);
  overflow-y: auto;
  color: black;

  .modalBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 17px;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    background: #ffffff;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);

    .imageContainer {
      position: relative;
      width: 100%;
      height: 50px;
      padding: 40px;
      color: #ffffff;
      text-align: center;
      background-color: #6247aa;
      background-size: cover;
    }

    .content {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 15px;
    }

    .leftContent {
      display: flex;
      flex: 5;
      flex-direction: column;
      align-items: center;
      padding-right: 5px;
    }

    .rightContent {
      display: flex;
      flex: 3;
      flex-direction: column;
      align-items: center;
      margin: auto;
      margin-right: 10px;
      padding-left: 5px;
    }

    .title {
      margin-bottom: 10px;
      font-size: 20px;
    }

    .eventDetails {
      margin-top: 20px;
    }

    .buttonSection {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      margin-top: auto;
      padding: 20px;
      border-top: 1px solid #eee;
    }

    .closeButton {
      margin-right: 10px;
      padding: 20px 40px;
      color: #6247aa;
      font-weight: bold;
      font-size: 23px;
      font-family: "Quicksand", sans-serif;
      text-align: center;
      background-color: #ffffff;
      border: none;
      border-radius: 8px;
    }

    .closeButton:hover {
      color: var(--primary-highlight);
    }

    .bookButton {
      margin-left: 10px;
      padding: 20px 40px;
      color: #ffffff;
      font-weight: bold;
      font-size: 23px;
      font-family: "Quicksand", sans-serif;
      text-align: center;
      background-color: #6247aa;
      border: none;
      border-radius: 8px;
    }

    .bookButton:hover {
      background-color: var(--primary-highlight);
    }

    .subtitle {
      font-weight: bold;
    }
  }
}

@media (max-width: 870px) {
  .wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 32px);
    overflow-y: auto;
    color: black;

    .modalBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 95%;
      height: 95%;
      max-height: 100vh;
      margin-top: 20px;
      margin-bottom: 20px;
      overflow: hidden;
      overflow-y: auto;
      font-size: 17px;
      font-family: "Quicksand", sans-serif;
      text-align: center;
      background: #ffffff;
      border: none;
      border-radius: 8px;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);

      .imageContainer {
        position: relative;
        width: 100%;
        height: 50px;
        padding: 40px;
        color: #ffffff;
        text-align: center;
        background-color: #6247aa;
        background-size: cover;
      }

      .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 15px;
      }

      .leftContent {
        display: flex;
        flex: 5;
        flex-direction: column;
        align-items: center;
        padding-right: 5px;
      }

      .rightContent {
        display: flex;
        flex: 3;
        flex-direction: column;
        align-items: center;
        padding-left: 5px;
      }

      .title {
        margin-bottom: 10px;
        font-size: 20px;
      }

      .eventDetails {
        margin-top: 0px;
      }

      .buttonSection {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        padding: 20px;
        border-top: 1px solid #eee;
      }

      .closeButton {
        margin-right: 10px;
        padding: 20px 40px;
        color: #6247aa;
        font-weight: bold;
        font-size: 23px;
        font-family: "Quicksand", sans-serif;
        text-align: center;
        background-color: #ffffff;
        border: none;
        border-radius: 8px;
      }

      .closeButton:hover {
        color: var(--primary-highlight);
      }

      .bookButton {
        margin-left: 10px;
        padding: 20px 40px;
        color: #ffffff;
        font-weight: bold;
        font-size: 23px;
        font-family: "Quicksand", sans-serif;
        text-align: center;
        background-color: #6247aa;
        border: none;
        border-radius: 8px;
      }

      .bookButton:hover {
        background-color: var(--primary-highlight);
      }

      .subtitle {
        font-weight: bold;
      }
    }
  }
}
