.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  --place-color: var(--placeholder-color);
  --text-color: black;

  &.negative {
    --place-color: transparent;
    --text-color: var(--white);
  }
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 16px;
  border: 0.1em solid var(--placeholder-color);
  border-radius: 8px;

  &:focus {
    border-color: var(--primary-violet);
    outline: none;
  }
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  font-size: var(--text-base);
}
