.circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.bigCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}

.smallCircle {
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7vw;
  height: 7vw;
  background-color: #062726;
  border-radius: 50%;
  transform: translateY(-50%);
}

.number {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.name {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: var(--text-base);
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .bigCircle {
    width: 30vw;
    height: 30vw;
  }

  .smallCircle {
    width: 15vw;
    height: 15vw;
  }

  .number {
    font-size: 1.5em;
  }

  .name {
    font-size: 1.7em;
  }
}

@media only screen and (max-width: 480px) {
  .bigCircle {
    width: 50vw;
    height: 50vw;
  }

  .smallCircle {
    width: 25vw;
    height: 25vw;
  }

  .number {
    font-size: 1em;
  }

  .name {
    font-size: 1.2em;
  }
}
