.layout {
  display: grid;
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  grid-template-rows: 100px repeat(6, 1fr); /* Tamaño personalizado para la primera fila */
  grid-template-columns: 0.9fr repeat(5, 1fr);
  min-height: 100vh;
  overflow: hidden;
}

.sidebar {
  grid-area: 1 / 1 / 8 / 2;
}
.header {
  grid-area: 1 / 2 / 2 / 7;
}
.content {
  grid-area: 2 / 2 / 8 / 7;
}
