.modaloverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: black;
}

.modalwrapper {
  position: relative;
  width: calc(100% - 32px);
  max-width: 1000px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  @media (max-width: 768px) {
    width: 90%;
    max-width: none;
  }
}

.modalcontent {
  display: flex;
  flex-direction: column;
  gap: 32px;
  box-sizing: border-box;
  max-height: calc(100vh - 64px);
  padding: 32px 16px;
  text-align: center;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.modalresults {
  flex-shrink: 1;
  overflow-y: auto;
}

.modalimage img {
  width: 100px;
  height: 100px;
}

.modalimage {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 8px solid #0f0;
  border-radius: 50%;
}

.modaltitle {
  margin-top: 20px;
}

.modalclose {
  margin-top: 20px;
}

.modalbuttons {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 480px) {
  .modalcontent {
    padding: 5%;
  }

  .modalimage img {
    width: 80px;
    height: 80px;
  }

  .modalimage {
    max-width: 80px;
    height: 80px;
    border-width: 6px;
  }

  .modaltitle {
    margin-top: 10px;
  }

  .modalclose {
    margin-top: 10px;
  }

  .modalbuttons {
    flex-direction: column;
    margin-top: 10px;
  }
}
