.rating {
  gap: 4px;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;

  &:not(.fixed) span {
    cursor: pointer;
  }

  .on {
    color: var(--primary-violet);
  }

  .off {
    color: var(--placeholder-color);
  }
}
