.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  --text-color: black;
  --place-color: var(--placeholder-color);
  --focus-color: var(--primary-violet);

  &.negative {
    --text-color: white;
    --place-color: var(--place-color);
    --focus-color: white;

    &:focus {
      border-color: var(--focus-color);
      outline: none;
    }
  }
}

.label {
  padding: 0 8px;
  color: var(--text-color);
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  font-size: var(--text-base);
  border: 1px solid var(--placeholder-color);
  border-radius: 8px;

  &.negative {
    color: white;
    background: none;
  }

  &:focus {
    border-color: var(--focus-color);
    outline: none;
  }
}
