.userList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  max-width: 400px;
  padding: 0 32px;
  background: #fff;
  border: 0.5px solid var(--gray-2, #9ba9a8);
  border-radius: 16px;
}
.containerInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  align-self: stretch;
  width: 100%;
  padding: 24px 32px;
}
.email {
  color: var(--gray-3, #6a7d7d);
  font-weight: 1.2em;
  font-size: 16px;
  font-family: Quicksand;
  font-style: normal;
  line-height: normal;
  text-align: center;
}
.name {
  color: #000;
  font-weight: 400;
  font-size: 1.15em;
  text-align: center;
}
.containerUser {
  display: flex;
  &:not(:last-child) {
    border-bottom: 0.5px solid var(--gray-2, #9ba9a8);
  }
}
.pencil {
  display: flex;
  align-items: center;
  justify-content: center;
}
