@use "styles/colors";
@use "styles/typography";

:root {
  font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
